{% extends "admin/change_form.html" %}
{% load static %}

{% block object-tools %}
    {{ block.super }}
    {% if change %}
        <li>
            <a class="button" href="{% url 'admin:create-invite-token' original.id %}">
                ➕ Create Professor Invite Token
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const activeCheckbox = document.querySelector('#id_active');
            if (activeCheckbox) {
                let previousValue = activeCheckbox.checked;
                activeCheckbox.addEventListener('change', function() {
                    const confirmed = confirm("Are you sure you want to change the status of this institution?");
                    if (!confirmed) {
                        activeCheckbox.checked = previousValue;
                    } else {
                        previousValue = activeCheckbox.checked;
                    }
                });
            }
        });
    </script>
{% endblock %}
