{% extends "admin/change_form.html" %}
{% load static %}
{% load group_tags %}

{% block object-tools %}
  {{ block.super }}
  {% if change %}
    <li style="margin-top: 15px;">
      <a class="button" href="{% url 'admin:generate-quest-viewer-token' original.id %}">
        Generate Quest Viwer Invite Token 
      </a>
    </li>
    <li style="margin-top: 15px;">
      <a class="button" href="/admin/auth/group/{% group_id_by_name 'viewers_'|add:original.id %}/change/" >
        Edit Viewers Group
      </a>
    </li>
    <li style="margin-top: 15px;">
      <a class="button" href="/admin/auth/group/{% group_id_by_name 'authors_'|add:original.id %}/change/" >
        Edit Authors Group
      </a>
    </li>
  {% endif %}
{% endblock %}
